/* Liz Ward Crafts styles */ 

body {
    max-width: 1200px;
    margin: 1rem auto;
    color: #333333;
    background-color: #fafafa;
    font-size: 1.125rem;
}

h1 {
    text-align: center;
    margin: 0;
    align-self: flex-end;
}

.index-title {
    font-size: 2rem;
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
}

.index-header h1 {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color:powderblue;
    text-decoration-style: wavy;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0;
} 

nav a {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    column-gap: 2rem;
    row-gap: 0;
}

nav a:hover {
    text-underline-offset: 0.25rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: powderblue;
}

.no-list-style {
    list-style: none;
}

.horizontal-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-inline-start: 0;
    flex-wrap: wrap;
}

.horizontal-list li {
    width: 10rem;
    text-align: center;
}

img {
    width: 10rem;
    height: auto;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0 2rem 0;
    flex-wrap: wrap;
}

.image-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0 2rem 0;
    flex-wrap: wrap;
}

.image-grid img {
    flex: 1 0 27%;
    box-shadow: none;
    border: none;
    object-fit: contain;

}

.link-anchor {
    text-decoration: none;
}

.link-text {
    text-decoration: underline;
}

.icon {
    width: 1rem;
    vertical-align: -0.125rem;
}

.instagram-icon {
    vertical-align: -0.25rem;
}

.headshot {
    width: 10rem;
    height: 10rem;
    background-image: url("liz-looking-down.jpg");
    background-position: center;
    background-size: cover;
    mask: 
    linear-gradient(to top,  transparent 0%, #fff 15% 85%, transparent 100%),
    linear-gradient(to left, transparent 0%, #fff 15% 85%, transparent 100%);
    mask-size: 110% 110%;
    mask-position: center;
    mask-repeat:no-repeat;
    mask-composite: intersect;
}

main {
    padding: 0rem 2rem;
}

.no-padding {
    padding: 0;
}

.about .headshot {
    width: 20rem;
    height: 20rem;
    margin: 0 auto 2rem;
}

.amiguwhomi-cover {
    display: block;
    width: 20rem;
    margin: 0 auto 2rem;
}

.buy-book-text {
    text-align: center;
}

@media (min-width: 1000px) {
    nav a {
        font-size: 1.25rem;
    }

    .index-title {
        font-size: 4rem;
    }

    body {
        padding: 2rem 5rem;
    }

    .about {
        display: flex;
        gap: 2rem;
    }

    .about .headshot {
        margin-top: 1em;
    }
}